<div class="center jumbotron">
  <div id="img_box">
    <img style="width: 100%;" src="image1.jpg" />
  </div>

  <h1>Microbreweries in NCR Region</h1>
  <%= link_to "Click here to display all Microbreweries in NCR Region!", microbreweries_path, class: "btn btn-lg btn-primary" %>
</div>
