<% provide(:title, "List") %>
<div class="container">
<div class="row">
    <label>Name : </label> <%= @res[:name] %>
  </div>
  <br>
  <div class="row">
    <label>Rating : </label> <%= @res[:cusines] %>
  </div>
  <br>
  <div class="row">
    <label>Address : </label> <%= @res[:price] %>
  </div>
  <div class="row">
    <label></P>Phone Number : <%= @res[:ratings]%></label>
  </div>
</div>
